body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white;

}

.center-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.iframeWindow {
    position: absolute;
    width: 100vw;
    height: 90vh;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    background-color: #141414;
}

header {
    background-color: #333;
    padding: 10px 0;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 50px;
}

#splash {
    font-size: 24px;
}

#frame {
    width: 75%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}

p {
    font-size: 20px;
}

h1 > span {
    font-family: "Montserrat", sans-serif;
    color: #0284d4;
}

button {
    color: black;
    background-color: #0284d4;
    padding: 8px 15px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.4s all;
}


.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-list a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h1 {
    color: #fff;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.pxyinput {
    width: 600px;
    height: 50px;
    margin: 10px;
}

 input[type=text], button.secondary, select {
     background-color: #111;
     transition: 0.4s border;
     border-radius: 5px;
     border: none;
     font-size: 20px;
     color: white;
     text-align: center;
     padding: 5px 15px;
     margin: 5px auto;
  }
  input[type=text]:focus {
    outline: none;
 }

.game-item {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
    text-decoration: none;
}

.game-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 0;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.game-item:hover .game-name {
    opacity: 1;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
